.login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loginmain {
    width: 340px;
    margin: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    .welcome {
      .welcomehead {
        font-size: 20px;
        color: #ffff;
        font-family: "Roboto";
        font-weight: 700;
        margin-top: 10px;
      }
      .welcomelicence {
        font-size: 12px;
        color: #fff;
        font-family: "Roboto";
        font-weight: 500;
      }
    }
    .submitbtn {
      width: 100%;
      font-size: 18px;
      font-family: "Roboto";
      height: 50px;
    }
  }
}
