.queuemain {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px !important;
  padding: 8px 0px 8px 7px;
  .imagediv {
    width: 36px !important;
    height: 36px !important;
    background: #fff;
    border-radius: 5px;
  }
  .queueimage {
    width: 100%;
    height: 100%;
  }
  .prodname {
    font-size: 15px;
    font-family: "Roboto";
    color: #ffff;
    margin-bottom: 0px;
    margin-top: -4px;
    margin-left: 4px;
  }
  .prodtime {
    text-align: left;
    margin-top: -3px;
    margin-left: 4px;
    font-size: 12px;
    margin-bottom: 0px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.6);
  }
}
