.slider .slider-box {
  /* width: 327px; */
}
.slider .slider-box .Slider-innerBox {
  border-radius: 5px;
  margin-right: 12px !important;
  height: auto;
  width: 100%;
  /* background-color: rgba(95, 59, 150, 0.95); */
}
.slider-box .Slider-innerBox .imagediv {
  background-color: white;
  border-radius: 5px;
  height: 200px;
}
.slider .slider-box .Slider-innerBox .user-image {
  width: auto;
  margin: 20px auto 0px auto;
  padding: 12px 0px;
}
.slider .slider-box .Slider-TextBox {
  margin: 5px auto 9px auto;
}
.slider .slider-box .Slider-innerBox .Slider-TextBox .Slider-para {
  color: white;
  text-align: left;
  margin: auto;
  font-size: 16px;
  /* font-weight: bold; */
  font-family: "Roboto";
}
.slick-initialized .slick-slide {
  margin-right: 30px;
  width: 264px !important;
}
.slider .slider-box .Slider-innerBox .Slider-Foot {
  display: flex;
  justify-content: space-between;
}
.slider
  .slider-box
  .Slider-innerBox
  .Slider-Foot
  .Slider-Foot-Text
  p:nth-child(1) {
  /* font-size: 10px; */
  color: white;
}
.slider .slider-box .Slider-innerBox .Slider-Foot .Slider-Foot-Text {
  /* padding-top: 18px; */
}
.slider
  .slider-box
  .Slider-innerBox
  .Slider-Foot
  .Slider-Foot-Text
  p:nth-child(2) {
  /* font-size: 8px; */
  color: white;
}
.slider .slider-box .Slider-innerBox .Slider-Foot {
  /* padding: 25px 15px; */
}
.slider .slider-box .Slider-innerBox .Slider-Foot .Comma-image {
  width: 25px;
  margin-right: 10px;
}
.slider
  .slider-box
  .Slider-innerBox
  .Slider-Foot
  .Slider-Foot-Text
  .foot-heading {
  opacity: 0.5;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
}
/* .quote {
  transform: scaleX(-1);
  font-size: 50px;
} */
.Comma-Image::after {
  font-family: "fontAwesome";
  content: "\f10d";
}
.slick-list {
  overflow: hidden;
}
/* .slick-dots li button:before {
  content: unset;
}
.slick-dots li button {
  background-color: #ceb8ee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: var(--primary-color);
  width: 24px;
  border-radius: 7px;
} */

/* MEDIA QUERY SLIDER */

/* Custom Slider media Query start */

@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}

/* Custom Slider media Query end */
