$base-margin: 20px;
$brown: #e7bf8b;
$tab-height: 50px;
$tab-border-radius: 35px;

body {
  background: linear-gradient(180deg, #2b251e 0%, #040303 97.89%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15),
    0px 25px 30px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(54.3656px);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.66667;
}
.container-fluid {
  width: 100%;
  height: 80vh !important;
}
h1 {
  color: $brown;
  font-size: 24px;
  line-height: 1.25;
  font-family: "Roboto Slab", serif;
  margin-bottom: $base-margin;
}

.tab-slider--nav {
  width: 15%;
  // margin-bottom: $base-margin;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
}
.tab-slider--tabs {
  display: block;
  text-align: center !important;
  margin: 0;
  padding: 7px;
  list-style: none;
  position: relative;
  border-radius: $tab-border-radius;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
  height: $tab-height;
  user-select: none;

  &:after {
    content: "";
    width: 50%;
    background: $brown;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: $tab-border-radius;
  }
  &.slide:after {
    left: 50%;
  }
}

.tab-slider--trigger {
  // font-size: 15px;
  line-height: 1;
  //   font-weight: bold;
  color: #ffffff25;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 25px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
  &.active {
    color: black !important;
  }

  .tabbtn {
    font-size: 25px;
  }
}

.tab-slider {
  transform: translateY(30%);
  .tab-slider--body {
    margin-bottom: $base-margin;

    .firstdiv {
      background: rgba(255, 255, 255, 0.1) !important;
      height: auto;
      padding: 18px 20px;
      border-radius: 5px;
      .sliderhead {
        text-align: left;
        color: #fff;
        font-size: 20px;
        font-family: "Roboto";
        font-weight: 700;
        font-style: normal;
      }
    }
    .prodsubmit {
      background: rgba(255, 255, 255, 0.1) !important;
      // height: 200px;
      width: 100%;
      margin-top: 20px;
      border-radius: 5px;

      .prodform {
        padding: 20px;

        button {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          margin-top: 20px;
          font-size: 16px;
          font-family: "Roboto";
        }
      }
    }
    .seconddiv {
      background: rgba(255, 255, 255, 0.1);
      height: auto;
      padding: 20px;
      border-radius: 5px;
      .secondheading {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 20px;
          color: #ffff;
          font-family: "Roboto";
          font-weight: 700;
        }

        .dropdown {
          .dropdown-basic {
            color: white;
          }
          button:focus-visible {
            outline: none !important;
          }
          button:focus {
            box-shadow: none !important;
          }
        }
      }

      .itemdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 444px;
        padding: 12px;

        .iteminnerdiv {
        }
        image {
          width: 70px;
          height: 40px;
        }
        .productname {
          font-size: 20px;
          font-family: "Roboto";
          font-weight: 700;
          color: #ffff;
          margin-top: 7px;
          margin-bottom: 0px !important;
        }
        .productdesc {
          font-size: 12px;
          font-family: "Roboto";
          // font-weight: 700;
          color: #ffffff60;
          margin-top: 7px;
        }
      }

      .generatebtn {
        width: 100%;
        height: 50px;
        // background: rgba(0, 0, 0, 0.2);
        border: none;
        // color: #ffffff25;
      }
    }
  }

  #tab2 {
    .settingstabmain {
      width: auto;
      max-width: 340px;
      margin: auto;
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 5px;
      .settingheading {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 20px;
          color: #ffff;
          font-family: "Roboto";
        }

        .dropdown {
          #dropdown-basic {
            color: white;
            padding: 0px !important;
          }
          button:focus-visible {
            outline: none !important;
          }
          button:focus {
            box-shadow: none !important;
          }
        }
      }

      .companion {
        display: flex;
        justify-content: flex-start;
        .planimage {
          width: 70px;
          height: 70px;
          background: #e7bf8b;
          justify-content: center;
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          vertical-align: middle;
          border-radius: 5px;

          p {
            text-align: center;
            margin-bottom: 0px;
            font-size: 20px;
            font-family: "Roboto";
            font-weight: 700;
          }
        }

        .planinfo {
          margin-left: 10px;

          .planheading {
            text-align: left;
            margin-bottom: 0px !important;
            color: #fff;
            font-size: 18px;
            font-family: "Roboto";
            margin-top: -5px;
          }
          .planrenewal {
            font-family: "Roboto";
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            text-align: left;
            margin-bottom: 0px !important;
            margin-top: -3px;
          }
          .plandays {
            font-family: "Roboto";
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            margin-top: 4px;
          }
        }
      }

      .eyeinput {
        padding: 0px 11px 0px 11px !important;
        height: 50px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        color: #ffffff80;

        .form-control {
          background-color: transparent;
          border: none;
          color: #fff;
          height: 100% !important;
          box-shadow: none !important;
        }
      }
      .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -33px;
        position: relative;
        z-index: 2;
      }
      .copy-icon {
        float: right;
        margin-left: -25px;
        margin-top: -33px;
        margin-right: 30px;
        position: relative;
        z-index: 2;
      }

      .line {
        width: 100% !important;
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
        margin-top: 20px;
      }

      .togglediv {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        form {
          position: absolute;
          right: 10px;
          top: 8px;

          .radioback {
            & > label {
              &::before {
                background-color: #e7bf8b !important;
                opacity: 100%;
              }
              &::after {
                background-color: #fff !important;
                opacity: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .tab-slider--tabs {
    width: 200px !important;
  }
}
