.commondivmain {
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 11px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  .logodiv {
    width: 30px;
    height: 30px;
    background: rgba(231, 191, 139, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    position: relative;

    .logo {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e7bf8b;
      position: absolute;
      left: 5;
      top: 5;
    }
    .image {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
  .desc {
    margin-right: auto;
    margin-left: 10px;
    .desctitle {
      font-size: 16px;
      font-family: "Roboto";
      color: #fff;
      margin-bottom: 0px !important;
      margin-top: -5px;
      text-align: left;
    }
    .desctitle2 {
      font-size: 12px;
      font-family: "Roboto";
      color: #fff;
      //   font-weight: 700;
      margin-bottom: 0px !important;
      margin-top: -5px;
      text-align: left;
    }
  }
}
