@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wispg2');
  src:  url('fonts/icomoon.eot?wispg2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wispg2') format('truetype'),
    url('fonts/icomoon.woff?wispg2') format('woff'),
    url('fonts/icomoon.svg?wispg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-black-settings-button:before {
  content: "\e902";
}
.icon-Setting:before {
  content: "\e900";
  color: #fff;
}
.icon-shoe:before {
  content: "\e901";
}
