.layoutmain {
  padding: 20px;
  height: 100vh !important;

  .topdiv {
    display: flex;
    justify-content: space-between;

    .versiondiv {
      .versiontime {
        margin-bottom: 0px !important;
        font-size: 20px;
        font-family: "Roboto";
        color: #fff;
      }
      .versioncontrol {
        margin-bottom: 0px !important;
        font-size: 14px;
        font-family: "Roboto";
        // font-weight: bold;
        color: #e7bf8b;
      }
    }
  }

  .bottomdiv {
    position: absolute;
    height: 5vh;
    bottom: 0;
    width: calc(100% - 40px);
    .bottominner {
      //   position: absolute;
      display: flex;
      justify-content: space-between !important;

      .copyright {
        color: #fff;
        font-size: 12px;
      }
      .socialicon {
        .instaicon {
          margin-left: 10px;
        }
      }
    }
  }
}
