.form-wrapper {
  margin-bottom: 10px;
}
.full-input {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 100%;
}
input {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  height: auto;
  font-size: 16px;
  font-family: "Roboto";
  background-color: transparent;
  width: 100%;
  // color: rgba(255, 255, 255, 0.7);
  color: #ffff;
  margin-top: 15px !important;
}
label {
  display: block;
  font-size: 11px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.4);
  text-align: left;
  margin-bottom: 2px !important;
  position: absolute;
  top: 5 !important;
  margin-left: 2px;
}
