* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Roboto";
}
body {
  /* background: #18191a;
  overflow: hidden; */
}
nav {
  position: relative;
  /* position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  padding: 2px 0px;
}
nav .drop-btn {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  height: 50px;
  position: relative;
  /* line-height: 25px; */
  font-size: 20px;
  /* font-weight: 500; */
  color: #b0b3b8;
  padding: 0px 8px;
  text-align: left;
}
nav .drop-btn label {
  position: absolute;
  top: 5px;
  font-size: 12px;
}
nav .drop-btn .headDesc {
  float: left;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  margin-top: 20px;
}

nav .drop-btn span {
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}

nav .wrapper {
  position: absolute;
  top: 40px;
  display: flex;
  width: 100%;
  /* width: 215px; */
  overflow: hidden;
  border-radius: 5px;
  background: rgba(28, 27, 26);
  display: none;
  transition: all 0.3s ease;
  z-index: 9999;
}
nav .wrapper.show {
  display: block;
  display: flex;
  margin-top: 20px;
}
.wrapper ul {
  width: 100%;
  list-style: none;
  /* padding: 10px; */
  transition: all 0.3s ease;
}
.wrapper ul li {
  line-height: 45px;
  position: relative;
  color: #fff !important;
  font-size: 13px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover {
  background: #e7bf8b;
  color: black !important;
}

.wrapper ul.setting-drop,
.wrapper ul.help-drop {
  display: none;
}
.wrapper .arrow {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.wrapper .arrow span {
  margin-right: 15px;
}
