.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 3px);
  left: calc(-2.4rem + 7px);
  width: calc(1rem - -2px);
  height: calc(1rem - 0px);
  background-color: #e7bf8b;
  border-radius: 0.5rem;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border: none !important;
  box-shadow: none !important;
}
.custom-switch .custom-control-label::before {
  left: -2.25rem;
  padding: 11px 19px;
  /* width: 1.75rem; */
  pointer-events: all;
  border-radius: 0.5rem;
  border: none !important;
  /* height: 45px; */
  /* width: 40px; */
  border-radius: 50px;
  background-color: gray;
}

.custom-control-label::before {
  //   background-color: #e7bf8b !important;
  background-color: #fff !important;
  opacity: 5%;
}
.custom-control-label::after {
  background-color: gray !important;
}
.custom-control-input {
  :focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  :active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
