.dropform {
  .full-input {
    label {
      margin-left: 4px !important;
    }
    select {
      width: 100%;
      padding-top: 18px;
      background: transparent;
      border: none;
      color: white;
      overflow: hidden !important;

      &:focus-visible {
        outline: none !important;
      }
    }
    select option {
      background: rgba(255, 255, 255, 0.05) !important;
      margin-left: 0px !important;
      border-radius: 10px;
    }
  }
}
