body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("truetype");
}

/* /// slider  */
.Slider-Section {
  position: relative;
}
.slick-track {
  opacity: 1;
  display: flex;
  width: 100% !important;
  transform: translate3d(0px, 0px, 0px);
}
.slick-dots {
  display: none !important;
}
.slick-slider {
  position: unset;
}
.slick-arrow {
  background-color: var(--white-color);
  border: 2px solid var(--gray4-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.slick-arrow.slick-prev {
  position: absolute;
  left: unset;
  top: -50px;
  right: 60px;
  /* background-color: brown; */
}
.slick-arrow.slick-next {
  top: -50px;
  position: absolute;
  right: 20px;
  /* background-color: brown; */
}
.slick-prev {
  /* transform: scaleX(-1); */
}
.slick-next {
  /* transform: scaleX(1); */
}
.slick-prev:before {
  font-family: "fontAwesome";
  content: "\f060";
  color: white;
  line-height: 1.2;
  font-size: 18px;
}
.slick-next:before {
  font-family: "fontAwesome";
  content: "\f061";
  color: white;
  line-height: 1.2;
  font-size: 18px;
}
.slick-arrow:hover {
  /* background-color: var(--primary-color); */
  /* border: 2px solid var(--primary-color); */
}
/* .slick-next:hover{
  color: red;
} */
.slick-arrow:hover:before {
  /* color: var(--white-color); */
}
/* .slick-arrow:hover + .slick-arrow:before {
  background-color: red;
} */
/* 
select:invalid{
  color: red !important;
}
option{
  color: orange !important;
} */

/* dropdown css */
.dropdown-toggle {
  padding: 0px !important;
}
.dropdown-toggle::before {
  font-family: "fontAwesome";
  display: inline-block;
  margin-left: 0.255em;
  float: right;
  vertical-align: 0.255em;
  content: "\f142";
  color: #ffffff80;
  outline: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}

.progress {
  display: flex;
  height: 6px !important;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: gray !important;
  border-radius: 3px;
}
